<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      NUEVO PRODUCTO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <form class="ion-padding" [formGroup]="myForm">
      <ion-row  justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
          </div>
          <div padding>
            <ion-item>
              <ion-label>Nombre: </ion-label>
              <ion-input formControlName="name" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Precio: </ion-label>
              <ion-input formControlName="coste" type="number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Ingredients</ion-label>
              <ion-toggle  formControlName="toggle" slot="start" color="warning" ></ion-toggle>
            </ion-item>
            <ion-item [disabled]="!myForm.get('toggle').value">
              <ion-label>Ingrediente: </ion-label>
              <ion-input  formControlName="ingredient" type="text" ></ion-input>
              <ion-button color="warning"  (click)="addIngredient()">
              <ion-icon  name="add-circle-outline"></ion-icon>
            </ion-button>
            </ion-item>
            <ion-list *ngFor="let ing of ingredients; index as i">
              <ion-item lines="none">
                <ion-label>Ingrediente: {{ing}}</ion-label>
                <!--<ion-label>Ingrediente {{i+1}}: {{ing}}</ion-label>-->
                <ion-button color="danger" (click)="deleteIngredient(i)" shape="round" >
                  <ion-icon name="close-circle"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </div>
          <div padding class="centrar">
            <ion-button size="large" type="button" color="warning" [disabled]="!myForm.valid" (click)="guardar()" expand="block">Guardar
          </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>